* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: sans-serif;
}

body .container {
  width: 80%;
  margin: auto;
}

body .container form {
  width: 90%;
  margin: 20px auto;
  padding: 30px;
  background: #f5f5f5;
  border: 1px solid #bbb;
  border-radius: 5px;
  box-shadow: 0 0 15px #bbb;
}

body .container form .title {
  text-align: center;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

body .container form select, body .container form input, body .container form label {
  width: 100%;
  margin-bottom: 10px;
}

body .container form select {
  height: 30px;
  text-transform: capitalize;
}

body .container form button {
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background: #f05d00;
  color: white;
  cursor: pointer;
  transition: .4s;
}

body .container form button:hover {
  background: #fc7c2b;
}

.success, .fail {
  border-radius: 5px;
  color: white;
  text-align: center;
  width: 90%;
  margin: auto;
  position: relative;
  animation: fadeIn .7s;
}

.success {
  background: #078c00;
  border: 3px solid #068100;
}

.fail {
  background: #b80000;
  border: 3px solid #9f0000;
}

@media only screen and (max-width: 900px) {
  body #demo {
    width: 95%;
  }
  body #demo form {
    width: 95%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.gallery {
  margin: 40px auto;
}

.gallery .category {
  border: 1px solid #bbb;
  margin: 20px auto;
  padding: 10px;
}

.gallery .category .title {
  text-transform: capitalize;
  border-bottom: 1px solid #bbb;
  margin-bottom: 10px;
}

.gallery .category .images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery .category .images .image {
  overflow: hidden;
  height: 120px;
  margin: 2px;
  background: rgba(29, 29, 29, 0.9);
  position: relative;
}

.gallery .category .images .image .cover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  pointer-events: none;
  transition: .4s;
}

.gallery .category .images .image a {
  padding: 0 !important;
}

.gallery .category .images .image a img {
  height: 100%;
  transition: .4s;
}

.gallery .category .images .image a:hover > img {
  transform: scale(1.1);
  opacity: .6;
}

.gallery .category .images .image a:hover ~ .cover {
  top: 0;
}

.footer {
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 60px;
  background: #222222;
  color: #999;
}
